---
- name: Install zabbix repository
  package:
    name: "{{zabbixagent_repo}}"
    state: present
    disable_gpg_check: true
  when: ansible_os_family != "Debian"

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install zabbix repository
  apt:
    deb: "{{zabbixagent_repo}}"
    update_cache: yes
    state: present
  when: ansible_os_family == "Debian"

- name: Install zabbix-agent
  package:
    name: "{{ zabbixagent_pkgs }}"
    state: present
    

- name: Configure zabbix-agent
  template:
    src: zabbix_agent2.conf.j2
    dest: /etc/zabbix/zabbix_agent2.conf
    owner: zabbix
    group: zabbix
    mode: 0640
  notify: Restart zabbix-agent
